

*{
    margin: 0;
}

:root{
    --main-color: #e84118    ;
    --dark-gray:   #2f3640  ;
    --soft-gray: #718093    ;
    --mid-gray:  #353b48    ;
    --gray: #dfe6e9;
    --baby-blue:  #2e86de   ;
    --white: #ecf0f1;
    --font-size: 16px;

}
 /* ============================================  start nav ============================================== */
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    border-top: 3px solid var(--main-color);
}
nav img{
    height: 5vh;
}
nav ul{
    list-style: none;
    display: flex;
    width: 25%;
    justify-content: space-between;
    padding: 0.5%;
}
nav ul a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--soft-gray);
    transition: all 0.5s ease-in-out;
   

}
nav ul a:hover{
    color: var(--dark-gray);
    font-weight: bold;
}
 /* ============================================  start header ============================================== */
header{
    background-image: url(../imgs/header.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
}

header .caption{
    /* background-color: var(--dark-gray); */
    background-color: rgba(47, 54, 64,0.5);
    width: 25%;
    padding: 3%;
    border-left: 3px solid var(--main-color);
    position : absolute;
    top: 25%;
    left: 20%;
}
header h1{
color: var(--white);
font-size: calc(var(--font-size) + 25px);
font-weight: lighter;
}
header p{
    color: var(--white);
font-size: calc(var(--font-size) + 3px);
padding-top: 2%;
line-height: calc(var(--font-size) + 15px);

}


 /* ============================================  start after header ============================================== */
.after-head{
    background-color: var(--gray);
    padding: 3%;
    text-align: center;
    font-size: calc(var(--font-size) + 7px);
    line-height: calc(var(--font-size) + 20px);
}
.after-head p{
    width: 70%;
    margin: auto;
}

 /* ============================================  start offers ============================================== */
.offers{
    width: 70%;
    margin:5% auto;
    color: var(--baby-blue);
}
 .offers p{
    color: var(--soft-gray);
    line-height: calc(var(--font-size) + 15px);
 }
 .offers h1{
text-align: center;
font-size: calc(var(--font-size) + 30px);
font-weight: lighter;
margin-bottom: 3%;
}
.offers .offer div{
    width: 30%;
    margin-top: 3%;
}
.offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}